<% provide(:title, "About Page")%>
<h1 class="blogTitle">ABOUT</h1>
<p>Hi, my name is Sanaa and you have reached my about page! Here's a little about me: First year Computer Science student at Carleton University while doing the Dev Degree program with Shopify.
Hackathon fanatic, designer and developer. Active lead in supporting and guiding girls into STEM fields. </p>
