<h1> Blog Stats </h1>

<p><strong>User with most comments:</strong> <%= @user_with_most_c %> (<%= @most_c %>)</p>

<p><strong>Top 5 most used tags:</strong> <%= @most_used_tags %></p>

<p><strong>Longest Blog Post:</strong> <%= @longest_post %></p>